/* work sans  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
:root {
    --text-gray: #424242;
    --text-light-gray: #727272;
    --logo-black: #2c2c2c;
    --header-bg: #fff4e7;
    --primary-btn-bg: #ff900e;
}

.display-flex {
    display: flex;
}

.header-bg {
    background-color: var(--header-bg);

}

.primary-btn {
    background-color: var(--primary-btn-bg);
    padding: 1rem 2rem;
    border-radius: 8px;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 1rem;
    border: none;
}

.alignment {
    padding: 2rem 8rem;
}

/* Header section style  */



/* nav-bar style  */
.main-logo {
    font-weight: bold;
    font-size: 2rem;
    color: var(--logo-black);
}

.nav-bar {
    padding: 2rem 8rem;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: var(--text-gray);
    font-weight: 500;
    font-size: .8rem;
}

/* hero section style  */
.hero-section {
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;


}

.hero-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-heading .heading1,
.hero-heading .heading2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--logo-black);
}

.hero-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color: var(--text-light-gray);
    gap: .2rem;

}

.hero-banner {
    width: 100%;
    border-radius: 8px;
}

/* features-section style  */
main {
    padding: 3rem 10rem;
}

.features-section {
    padding: 3rem 10rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.features-sec-con1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem 0;
    min-width: 30vw;
}

.team-img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    background: #fff;
}

.features-sec-con2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    min-width: 30vw;
}

.features-sec-con2 h2 {
    font-size: 2rem;
    line-height: 1.2;
}

.features-sec-con2 h2 #sp1 {
    color: var(--text-gray);
    font-weight: 500;
}

#sp2 {
    color: black;
    font-weight: 700;
}

#sp3 {
    color: var(--primary-btn-bg);
    font-weight: 700;
}

.features-sec-con2 {
    color: #727272;
    font-size: .7rem;

}



/* experience section style  */
.experience-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.box-con {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    text-align: left;
}

.box-heading {
    padding-left: 1rem;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 700;
    color: var(--logo-black);
    border-left: 4px solid var(--primary-btn-bg);
}

.box-para {
    text-align: left;
    font-size: .8rem;
    color: var(--text-light-gray);
}

.card {
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    background: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
}

.card h4 {
    font-size: .9rem;
    font-weight: 600;
}

.card p {
    font-size: .6rem;
    color: var(--text-light-gray);
}

img {
    width: 100%;
    border-radius: 8px;
}

.badge-btn {
    margin-top: -70%;
    margin-left: -70%;
}

.primary-btn .btn-text1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.primary-btn .btn-text2 {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

/* fact section style  */

.fact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 8rem 0;
}

.fact-heading {
    font-size: 2rem;
    font-weight: 700;
    color: var(--logo-black);
    text-align: center;
}

.fact-para {
    font-size: .8rem;
    font-weight: 300;
    color: var(--text-light-gray);
}

.fact-card h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-gray);
}

.fact-card p {
    font-size: .8rem;
    font-weight: 600;
    color: var(--text-light-gray);
}

.fact-card-con {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 4rem;
    padding: 3rem 2rem;
}

.fact-card {
    border: 1px solid var(--primary-btn-bg);
    border-radius: 8px;
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-width: 4vw;
}

.fact-card img {
    width: 20%;
}

/* sponsor style  */
.sponsor-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
}

.sponsor-para {
    text-align: center;
}

.sponsor-logo-con {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

}

.sponsor-logo-con img {
    width: 95%;
    max-width: 150px;
    align-items: center;
    border-radius: none;
    padding: 1rem;
    filter: grayscale(100%);
}

/* footer section style  */

footer {
   padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    text-align: center;
}

footer p {
    font-size: .8rem;
    background:#fff4e7;
    padding: 1.5rem 0;
    border-radius: 4px;
    color: var(--text-light-gray);
}

/* Responsive styles */

/* Responsive media queries */

@media screen and (max-width:576px) {

    .nav-bar,
    .nav-bar ul,
    .features-section,
    .experience-section,
    .sponsor-section,
    footer {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .hero-section,
    .features-section,
    main,
    .sponsor-section,
    footer {
        padding: 1rem;
    }

    .badge-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
    }

    .experience-section {
        width: 100%;
    }

.sponsor-logo-con {
 display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.fact-card-con{
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
}

/* for tablet */
@media screen and (min-width:576px) and (max-width:992px) {

    .hero-section,
    .nav-bar,
    footer {
        padding: 3rem;
    }

    main {
        padding: 3rem;
        gap: 1rem;
    }

    .experience-section {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .fact-card-con{

        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}